@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#scene {
  background-image: url("./assets/bg_parallax.jpg");
}
.services {
  background-image: url("./assets/bg_services.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menunav {
  background-image: url("./assets/bgmenunav.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-image: url("./assets/bgfooter.png");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* SHAPE FOOTER */
.shapedividers_com-3099 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-3099::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 24px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%230e101c"/></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-3099::before {
    background-size: 100% 32px;
    background-position: 50% 0%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-3099::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 76px;
    background-position: 50% 0%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-3099::before {
    background-size: 100% calc(2vw + 76px);
  }
}

/* END SHAPE FOOTER */

::-webkit-scrollbar {
  display: none;
}
